.demo-container {
	width: 100%;
	max-width: 350px;
	margin: 50px auto;
}

form {
	/*margin: 30px;*/
}
/*input {
	width: 200px;
	margin: 10px auto;
	display: block;
}*/

#payment_accept_selector label,
#extract_promocode_form label	{
	width: 100%;
	padding:10px 10px 15px 10px;
	text-align: left;
	border: 2px solid transparent;
}

#payment_accept_selector label:hover,
#extract_promocode_form label:hover	{
	border: 2px solid orange;
	cursor: pointer;
}

#payment_accept_selector label.btn.active,
#extract_promocode_form label.btn.active	{
	box-shadow: none;
}


#payment_accept_selector span.glyphicon-ok,
#extract_promocode_form span.glyphicon-ok	{
	font-size: 36px;
	top: 5px;
}

#payment_accept_selector span.glyphicon-phone,
#payment_accept_selector span.glyphicon-credit-card,
#extract_promocode_form span.glyphicon-phone,
#extract_promocode_form span.glyphicon-credit-card	{
	font-size: 25px;
	top: 5px;
	padding-right: 10px;
}


#payment_accept_selector span.ok-check,
#extract_promocode_form span.ok-check	{
	padding-right:30px;
	padding-left: 15px;
}

@media (max-width: 640px) {
	#payment_accept_selector span.ok-check,
	#extract_promocode_form span.ok-check {
		padding-right: 5px;
		padding-left: 5px;
	}

	#payment_accept_selector label,
	#extract_promocode_form label {
		padding: 5px 10px 5px 0px;
	}
}

#payment_accept_selector span.ok-check.blank,
#extract_promocode_form span.ok-check.blank	{
	padding-left: 55px;
}

.disactive	{
	color: #c8c8c8;
}

#tab_card, #tab_phone	{
	display: none;
}

a.fastlink	{
	font-size: 10px;
	display: block;
	position: relative;
	float: right;
	padding-top: 9px;
}

.demo {
	margin: 10px 60px;
}

.demo input {
	font-size: 38px;
}

.demo label {
	color: brown;
}